@model SAGM.Models.MaterialTypeViewModel

@{
    ViewData["Title"] = "Crear tipo de material";
}
<h4>Crear Tipo de Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMaterialType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="MaterialTypeName" class="control-label"></label>
                <input asp-for="MaterialTypeName" class="form-control" id="materialTypeName" />
                <span asp-validation-for="MaterialTypeName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input type="checkbox" asp-for="Active" id="Active" checked="checked" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
                <a asp-action="Details" asp-route-id="@Model.CategoryId" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        //script para tener el foco sobre el campo inicial
        $(document).ready(function () {
            $("#materialTypeName").focus();
        })
    </script>
}
