@model SAGM.Models.ChangePasswordViewModel
@{
	ViewData["Title"] = "Cambio de contraseña";
}
<style>
    .g1 {
        background-color: #F9F9F9 ;
        margin: 15px 15px 15px 15px;
        border: 1px solid silver;
        border-radius: 12px;
        box-shadow: 5px 5px 5px #555;
        background-color: #c5d2db;
    }
</style>
<flash dismissable="true" />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4 g1">
        <h2>Cambio de Contraseña</h2>
    	<form method="post">
            <b><div asp-validation-summary="ModelOnly" class="text-danger"></div></b>

        	<div class="form-group">
            	<label asp-for="OldPassword"></label>
            	<input asp-for="OldPassword" type="password" class="form-control" />
            	<span asp-validation-for="OldPassword" class="text-danger"></span>
        	</div>

        	<div class="form-group">
            	<label asp-for="NewPassword"></label>
            	<input asp-for="NewPassword" type="password" class="form-control" />
            	<span asp-validation-for="NewPassword" class="text-danger"></span>
        	</div>

        	<div class="form-group">
            	<label asp-for="Confirm"></label>
            	<input asp-for="Confirm" type="password" class="form-control" />
            	<span asp-validation-for="Confirm" class="text-danger"></span>
        	</div>

            <div class="form-group mt-2 text-center">
                <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />
                <a asp-action="ChangeUser" class="btn btn-secondary btn-sm">Regresar</a>
        	</div>
            <div>&nbsp;</div>
    	</form>
	</div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}