@model SAGM.Models.LoginViewModel

@{
    ViewData["Title"] = "Inicio de sesión";
}

<style>
    .g1 {
        background-color: #F9F9F9;
        margin: 15px 15px 15px 15px;
        border: 1px solid silver;
        border-radius: 12px;
        box-shadow: 5px 5px 5px #555;
        background-color: orange;
    }
</style>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4 g1">
        <h3 style="color:dimgray; text-align:center;">Iniciar sesión</h3>
        <form asp-action="Login">
            
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label>
                    
                </div>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>
            <div class="form-group mt-2 text-center">
                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
                <a asp-action="Register" class="btn btn-secondary">Nuevo usuario</a>
            </div>
            <div>&nbsp;</div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
