@model SAGM.Models.LoginViewModel

@{
    ViewData["Title"] = "SAGM doble factor autenticación";

}

<style>
    .g1 {
        background-color: #F9F9F9;
        margin: 15px 15px 15px 15px;
        border: 1px solid silver;
        border-radius: 12px;
        box-shadow: 5px 5px 5px #555;
        background-color: orange;
    }
</style>
<flash dismissable="true" />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card bg-secondary mb-3 g1" style="width: 380px; height: 230px">
            <h5 class="card-header text-center text-white"><i class="fa-solid fa-envelope text-navy text-white"></i> Google Authenticator</h5>
            <div class="card-body bg-warning">
                <form asp-action="TwoFactorAuthenticate">
                    <input asp-for="Username" type="hidden" />
                    <input asp-for="Password" type="hidden" />
                    <input asp-for="TwoFactorEnabled" type="hidden" class="form-control" />
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Código</label>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-2">
                                <input type="text" id="mfacode1" name="mfacode1" class="form-control" maxlength="3" style="width:60px;" />
                            </div>
                            <div class="col-2">
                                <input type="text" id="mfacode2" name="mfacode2" class="form-control" maxlength="3" style="width:60px;" />
                            </div>
                            <div class="col-4"></div>
                        </div>
                     
                    </div>
                    <div class="visually-hidden">
                        <label class="control-label">Código</label>
                        <input asp-for="mfaCode" class="form-control" />
                        <span asp-validation-for="mfaCode" class="text-danger"></span>
                    </div>
                 
                    <div class="form-group mt-2 text-center">
                        <button input type="submit" id="btnsumbit" value="Login" class="btn btn-primary btn-block" onclick="return getcode()"> Validar</button>
                       
                    </div>
                </form>
            </div>
         
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");


    };
    <script>
         $(document).ready(function () {
             $("#mfacode1").focus();
         });

        function getcode()
        {
            var code = $("#mfacode1").val() + $("#mfacode2").val();
            $("#mfaCode").val(code);
            return true;
        }


                function setInputFilter(textbox, inputFilter, errMsg) {
          ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop", "focusout"].forEach(function(event) {
            textbox.addEventListener(event, function(e) {
              if (inputFilter(this.value)) {
                // Accepted value
                if (["keydown","mousedown","focusout"].indexOf(e.type) >= 0){
                  this.classList.remove("input-error");
                  this.setCustomValidity("");
                }
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
                if(this.id == "mfacode1")
                {
                    if (this.value.length == 3)
                    {
                        $("#mfacode2").focus();
                    }
                }
                if(this.id == "mfacode2")
                {
                    if (this.value.length == 3)
                    {
                        $("#btnsumbit").focus();
                    }
                }
              } else if (this.hasOwnProperty("oldValue")) {
                // Rejected value - restore the previous one
                this.classList.add("input-error");
                this.setCustomValidity(errMsg);
                this.reportValidity();
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
              } else {
                // Rejected value - nothing to restore
                this.value = "";
              }
            });
          });
        }

              setInputFilter(document.getElementById("mfacode1"), function(value) {
        return /^\d*$/.test(value); }, "Debes introducir sólo números enteros");
         setInputFilter(document.getElementById("mfacode2"), function(value) {
        return /^\d*$/.test(value); }, "Debes introducir sólo números enteros");

    </script>



}
