@model SAGM.Models.WorkOrderRemisionViewModel

<table class="table table-hover responsive" id="TableWorkOrderDetails" style="font-size:small; width:100%;">
    <thead>
        <tr>
            <th>
               
            </th>
            <th style="text-align:center; width:7%;">&nbsp;&emsp;#</th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.WorkOrder.WorkOrderDetails.FirstOrDefault().Quantity)
            </th>
            <th style="text-align: left;">
                U.Medida
            </th>
            <th style="text-align: left;">
                @Html.DisplayNameFor(model => model.WorkOrder.WorkOrderDetails.FirstOrDefault().Material.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder.WorkOrderDetails.FirstOrDefault().Description)
            </th>           
            <th style="text-align: right;">
                @Html.DisplayNameFor(model => model.WorkOrder.WorkOrderDetails.FirstOrDefault().Price)
            </th>
            <th style="text-align: right;">
                MP
            </th>
            <th style="text-align: right;">
                TT
            </th>
            <th style="text-align: right;">
                Maq
            </th>
            <th style="text-align: right;">
                Fac
            </th>
            <th style="text-align: right;">
                Emb
            </th>
            <th style="text-align: right;">
                Remisionar
            </th>

        </tr>
    </thead>
    <tbody>


    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="padding:unset; padding-right:5px;"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    </table>
