@model SAGM.Models.WorkOrderRemisionViewModel
@{
    Layout = null;
}

<style>
    .g1 {
        background-color: #F9F9F9;
        margin: 10px 10px 10px 10px;
        border: 2px solid orange;
        border-radius: 12px;
        box-shadow: 5px 5px 5px #555;
        background-color: whitesmoke;
        padding: 1px 2px 2px 1px;
    }
</style>

<div tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">


    <div class="modal-body">
        <p>¿Estás seguro que guardar y continuar con la remisión?</p>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
            <form asp-action="RemisionReprintConfirm" method="post">
                <input type="hidden" asp-for="WorkOrderId" value="@Model.WorkOrderId" />
                <input type="hidden" asp-for="WorkOrderDeliveryId" value="@Model.WorkOrderDeliveryId" />
                <input type="hidden" asp-for="Comments" value="@Model.Comments" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" arial-label="cerrar"><i class="fa fa-ban"></i> No</button>
                <button type="submit" value="Si" class="btn btn-success"><i class="fa fa-check-circle"></i> Sí</button>
            </form>
        </div>

    </div>


</div>
