
@{
    ViewData["Title"] = "Error404";
}

<br/>
<br />
<hr />

<div  class="alert-danger mx-auto row" role="alert" style="height:5.25rem">
    <div class="col4"></div>
    <div class="col4 offset-4"><label>¡  Página no encontrada  !</label></div>
    
</div>

