@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Bienvenido</h1>
        <div style="border-radius:15%; background-color:silver;" class="col-4 offset-4">
            <img src="~/images/200w.gif" style="border-radius:15%; width:90%; height:90%; " class="m-3 px-3" />
        </div>
        
    }
    else
    {
        <label>Incie sesión para trabajar con SAGM</label>
    }

   
</div>
