@{
    ViewData["Title"] = "Home Page";
}

<style>
    .g1 {
        background-color: #F9F9F9;
        margin: 15px 15px 15px 15px;
        border: 1px solid silver;
        border-radius: 12px;
        box-shadow: 5px 5px 5px #555;
        background-color: whitesmoke;
    }
</style>

<div class="text-center">
   
    @if (User.Identity.IsAuthenticated)
    {
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4 g1">

         <h3 style="color:dimgray; text-align:center;">Bienvenido</h3>
        <img src="~/images/logo_simaq_transparente.png" class="m-3 px-3"  />

     <div class="col-md-3"></div>
    </div>
    </div>
    }
    else
    {
        <div class="container">
            <br/>
            <label>Inicie sesión para trabajar con SAGM</label>
            <br/>
            <br />
        </div>
    }

   
</div>
