
<style>
    .g2 {
        background-color: #F9F9F9;
        margin: 10px 10px 10px 10px;
        border: 2px solid gray;
        border-radius: 12px;
        box-shadow: 5px 5px 5px #555;
        background-color: whitesmoke;
        padding: 2px 3px 1px 1px;
    }
    .header2{
        margin: 1px 1px 1px 1px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
</style>
﻿<div class="modal fade in" tabindex="-1" role="dialog" data-bs-backdrop="static" id="form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content g2">
            <div class="modal-header header2">
                <i class="modal-icon"></i>&nbsp;
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>