<!DOCTYPE html>
<style>

    .poweroff {
        border: solid 1px white;
    }

        .poweroff:hover {
            color: white !important;
        }

    .poweron {
        border: solid 1px white;
    }

        .poweron:hover {
            color: white !important;
        }



    .login {
        color: white !important;
    }

    .home:hover {
        color: navy !important;
    }

    .back {
        color: green;
        border-radius: 15px;
        width: 30px;
        height: 30px;
    }

        .back:hover {
            border-radius: 12px;
            width: 24px;
            height: 24px;
            background-color: green;
            color: white;
        }

    .dropdown-divider{
        color:white;
    }
</style>
<html lang="es-mx">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAGEM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    <link href="~/lib/datatables/css/responsive.datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SAGM.styles.css" asp-append-version="true" />
</head>

<body>
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-2" style="background-color: #121247;">
            <div class="container-fluid" >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/logo_simaq_transparente.png" style="width:37%; height:37%;" title="Logo"/></a>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid" >
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color:aliceblue !important;">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        }
                        else
                        {
                            <a class="btn btn-outline-success text-success poweron" style="border-radius:20px; width:40px; height:40px;" asp-area="" asp-controller="Account" asp-action="Login"><strong><i class="fa-solid fa-power-off"></i></strong></a>
                        }

                        <div class="collapse navbar-collapse" id="navbarSupportedContent"  >
                            <ul class="navbar-nav" >
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item" >
                                        <a class="nav-link text-primary home" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-success" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <b>Ventas</b>
                                        </a>
                                        <ul class="dropdown-menu" style="background-color: #121247; border-color: silver" >
                                            <li class="nav-item" style="margin-left:3px;">
                                                <a class="text-decoration-none text-success"  asp-controller="Quotes" asp-action="Index"> <i class="fa fa-file-invoice-dollar"></i>  <strong>Cotizaciones</strong></a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <b>Operación</b>
                                        </a>
                                        <ul class="dropdown-menu" style="background-color: #121247; border-color: silver">
                                            <li class="nav-item" style="margin-left:3px;">
                                                <a class="text-decoration-none text-warning" asp-controller="WorkOrders" asp-action="WorkLoad"> <i class="fa-regular fa-hourglass-half"></i>  <strong>Carga</strong></a>
                                            </li>
                                            <li class="nav-item" style="margin-left:3px;">
                                                <a class="text-decoration-none text-warning" asp-controller="WorkOrders" asp-action="Index"> <i class="fa fa-wrench"></i>  <strong>OTs</strong></a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <b>Compras</b>
                                        </a>
                                        <ul class="dropdown-menu" style="background-color: #121247; border-color: silver">
                                            <li class="nav-item" style="margin-left:3px;">
                                                <a class="text-decoration-none text-danger" asp-controller="Orders" asp-action="Index"> <i class="fa fa-money-check-dollar"></i>  <strong>Ordenes </strong></a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <b>Finanzas</b>
                                        </a>
                                        <ul class="dropdown-menu" style="background-color: #121247; border-color: silver">
                                            <li class="nav-item" style="margin-left:3px;">
                                                <a class="text-decoration-none text-secondary" asp-controller="Archives" asp-action="Index"> <i class="fa fa-gear" style="color:darkorange;"></i>  <strong>Procesar Archivo </strong></a>
                                            </li>
                                            <li class="nav-item" style="margin-left:3px;">
                                                <a class="text-decoration-none text-secondary" asp-controller="Finances" asp-action="Billing"> <i class="fa fa-chart-pie" style="color:limegreen;"></i> <strong style="color:limegreen;">Facturación </strong></a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <b>Catálogos</b>
                                        </a>
                                        <ul class="dropdown-menu" style="background-color: #121247; border-color: silver">
                                                <li class="nav-item" style="margin-left:3px;">
                                                    <a class="text-decoration-none" asp-area="" asp-controller="Customers" asp-action="Index"><i class="fa fa-users-gear"></i> <strong>Clientes</strong></a>
                                                </li>
                                                <li class="nav-item" style="margin-left:3px;">
                                                    <a class="text-decoration-none" asp-area="" asp-controller="Categories" asp-action="Index"><i class="fa fa-object-group"></i>  <strong>Categorías</strong></a>
                                                </li>
                                                <li class="nav-item" style="margin-left:3px;">
                                                    <a class="text-decoration-none"  asp-controller="Countries" asp-action="Index"> <i class="fa fa-globe"></i>  <strong>Países</strong></a>
                                                </li>
                                                <li class="nav-item" style="margin-left:3px;">
                                                    <a class="text-decoration-none" asp-area="" asp-controller="Suppliers" asp-action="Index"><i class="fa fa-credit-card"></i> <strong>Proveedores</strong></a>
                                                </li>
                                            <li><hr class="dropdown-divider"></li>
                                               
                                            @if (User.IsInRole("Administrador"))
                                                {
                                                    <li class="nav-item" style="margin-left:3px;">
                                                        <a class="text-decoration-none" asp-area="" asp-controller="Processes" asp-action="Index"><i class="fa fa-gear"></i>  <strong>Procesos</strong></a>
                                                    </li>
                                                    <li class="nav-item" style="margin-left:3px;">
                                                        <a class="text-decoration-none" asp-area="" asp-controller="Units" asp-action="Index"><i class="fa fa-tint"></i>  <strong>Unidades</strong></a>
                                                    </li>
                                                    <li class="nav-item" style="margin-left:3px;">
                                                        <a class="text-decoration-none" asp-area="" asp-controller="Sellers" asp-action="Index">&nbsp;<i class="fa fa-user-tie"></i>  <strong>Vendedores</strong></a>
                                                    </li>
                                                    <li class="nav-item" style="margin-left:3px;">
                                                        <a class="text-decoration-none" asp-area="" asp-controller="Users" asp-action="Index"><i class="fa fa-users-line"></i>  <strong>Usuarios</strong></a>
                                                    </li>
                                                }
                                            </ul>
                                    </li>
                                }
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item" style="border-left: solid 1px white;">
                                        <a class="nav-link login" asp-area="" asp-controller="Account" asp-action="ChangeUser"><b>@User.Identity.Name</b></a>
                                    </li>
                                    <li >
                                        <a class="btn btn-outline-danger text-danger poweroff" style="border-radius:20px; width:40px; height:40px; " asp-area="" asp-controller="Account" asp-action="Logout"><strong><i class="fa-solid fa-power-off"></i></strong></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3 container-fluid body-content">
            <partial name="_BusyIndicatorPartial" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - SAGEM by Francisco Rincón - Version 3.031024.1 <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   
    <script src="~/lib/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/showmodal.js"></script>
    <script src="~/js/jquery-3.7.0.js"></script>
    <script src="~/js/jquery.datatables.min.js"></script>
    <script src="~/js/datatables.responsive.min.js"></script>
    <script src="~/lib/jquery/dist/notify.min.js"></script>
    <script src="~/js/chart.min.js"></script>
   
    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>
    <script>
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
