@model SAGM.Data.Entities.Country

@{
    ViewData["Title"] = "País";
    Layout = null;
}

<flash dismissable="true" />

<div class="container smfont">
    <form asp-action="AddOrEdit" autocomplete="off" asp-route-id="@Model.CountryId" onsubmit="return jQueryAjaxPost(this);">
        <input type="hidden" asp-for="CountryId" />
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control smfont" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                @Html.EditorFor(model => model.Active)
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
