@model SAGM.Data.Entities.City

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>

    a.firstlevel {
        width: 80px;
    }
</style>
<h1>Detalles</h1>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditCity" asp-route-id="@Model?.CityId" class="btn btn-outline-warning firstlevel">Editar</a>
    <a asp-action="DetailsState" asp-route-id="@Model.State.StateId" class="btn btn-outline-success firstlevel">Regresar</a>
</div>