@model SAGM.Data.Entities.Country

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar País</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CountryId" />
            <input type="hidden" asp-for="States" />
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" id="countryname" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input type="checkbox" asp-for="Active"  id="Active" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mt-2">
                <input type="submit" value="Guardar" class="btn btn-outline-warning" />
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //script para tener el foco sobre el campo inicial
        $(document).ready(function () {
            $("#countryname").focus();
            var tmpStr = $("#countryname").val();
            $("#countryname").val('');
            $("#countryname").val(tmpStr);
        })
    </script>
}
